<!DOCTYPE html>
<html>
	<head>
        <title>Chat</title>
        <link rel="stylesheet" type="text/css" href="./static/styles.css">
    </head>
    <body onload="getDisp();">
        <p>
            Welcome to the chat room! You are currently signed in as:<br>
            <table>
                <td id="user"></td>
                <td id="nick"></td>
            </table>
        </p>
        <table>
            <th>Message History</th>
        </table>
        <form method="POST" action="/chat">
            Type message:<br>
            <input type="text" name="mess" id="message">
            <input type="submit" value="Submit">
        </form>
        <form action="http://localhost:9000/home" method="POST">
            <button type="submit" class="blueButton">Home</button>
        </form>
    </body>
</html>
</DOCTYPE>