<!DOCTYPE html>
<html>
	<head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="./static/styles.css">
    </head>
    <body>
        <p>Welcome to the Chat Room!</p>
        <table>
            
        </table>
        <form method="POST" action="/rebuffer">
            Type message:<br>
            <input type="text" name="mess" id="message">
            <input type="submit" value="Submit">
        </form>
        <form action="/" method="POST">
            <button type="submit" class="blueButton">Logout</button>
        </form>
    </body>
</html>
</DOCTYPE>