<!DOCTYPE html>
<html>
    <head>
        <title>User Login</title>
        <link rel="stylesheet" type="text/css" href="./static/styles.css">
    </head>
    <body>
        <p>Create a nickname to continue</p>
        <form action="http://localhost:9000/home" method="POST">
            <input type="text" name="name" placeholder="Nick Name" id="nickname">
            <input type="submit" value="GO!"/>
        </form>
        <form action="http://localhost:9000" method="POST">
            <button type="submit" class="blueButton">Take me back</button>
        </form>
    </body>
</html>
</DOCTYPE>