<DOCTYPE html>
    <html>
    <head>
        <title>Admin Login</title>
    </head>
    <body>
        <p>Login in to continue</p>
        <form action="formsubmit" method="POST">
            Username: <input name="user" type="text"/><br>
            Password: <input name="password" type="password"/><br>
            <input type="submit" value="Login"/>
        </form>
        <form action="http://localhost:9000">
            <button type="submit" class="BlueButton">Take me back</button>
        </form>
    </body>
</html>
</DOCTYPE>