<DOCTYPE html>
<html>
	<head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
    <body>
        <p>Home Page</p>
        <form action="http://localhost:9000/chat">
            <button type="submit" class="blueButton">Chat</button>
        </form>
        <form action="http://localhost:9000/ttt">
            <button type="submit" class="blueButton">TTT</button>
        </form>
        <form action="http://localhost:9000/">
            <button type="submit" class="blueButton">Logout</button>
        </form>
        <form action="http://localhost:9000/alog">
            <button type="submit" class="blueButton">Admin Login</button>
        </form>
    </body>
</html>
</DOCTYPE>