<!DOCTYPE html>
<html>
	<head>
        <title>TTT</title>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
    <body>
        <p>Tic Tac Toe</p>

        <button type="btn" class="t3" id="a1"></button>
        <button type="btn" class="t3" id="a2"></button>
        <button type="btn" class="t3" id="a3"></button>
    </br>
        <button type="btn" class="t3" id="b1"></button>
        <button type="btn" class="t3" id="b2"></button>
        <button type="btn" class="t3" id="b3"></button>
    </br>
        <button type="btn" class="t3" id="c1"></button>
        <button type="btn" class="t3" id="c2"></button>
        <button type="btn" class="t3" id="c3"></button>
    </br>

        <button type="btn" class="blueButton" id="r1">Reset Game</button>
        
        <form action="http://localhost:9000/home">
            <button type="submit" class="blueButton">Home</button>
        </form>
        <script type="text/javascript" src="static/css/t3.js"></script>
    </body>
</html>
</DOCTYPE>