<DOCTYPE html>
<html>
	<head>
        <title>TTT</title>
        <link href="Sprites.css" type="text/css" rel="stylsheet"/>
    </head>
    <body>
        <p>Tic Tac Toe</p>
        <div id="sprites">
            <div class="sprite"></div>
            <div class="sprite"></div>
            <div class="sprite"></div>
            <div class="sprite"></div>
        </div>
        <form action="http://localhost:9000/home">
            <button type="submit" class="BlueButton">Home</button>
        </form>
    </body>
</html>
</DOCTYPE>