<DOCTYPE html>
<html>
	<head>
        <title>TTT</title>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
    <body>
        <p>Tic Tac Toe</p>

        <div class="t3sprites">
            <div class="gx"></div>
            <div class="go"></div>
            <div class="rx"></div>
            <div class="bo"></div>
        </div>

        <button type="btn" class="rx"></button>
        <button type="btn" class="rx"></button>
        <button type="btn" class="rx"></button>
    </br>
        <button type="btn" class="rx"></button>
        <button type="btn" class="rx"></button>
        <button type="btn" class="rx"></button>
    </br>
        <button type="btn" class="rx"></button>
        <button type="btn" class="rx"></button>
        <button type="btn" class="rx"></button>
    </br>

        <form action="http://localhost:9000/home">
            <button type="submit" class="blueButton">Home</button>
        </form>
    </body>
</html>
</DOCTYPE>