body{
    background-color: #57595d
}
h1 {
    color: #b19cd9
}
p {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 15px;
}

.blueButton {
	background:linear-gradient(to bottom, #9678c2 5%, #64469c 100%);
	background-color: #9678c2;
	border-radius:7 px;
	display: inline-block;
	cursor :pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:12px 27px;
	text-decoration:none;
	text-shadow:0px 5px 6px #491f4d;
}
.blueButton:hover {
	background:linear-gradient(to bottom, #64469c 5%, #9678c2 100%);
	background-color:#64469c;
}
.blueButton:active {
	position:relative;
	top:1px;
}

.goR, .goL {
	width: 128px;
	height: 128px;
	background: url('./gopher.png');
}
.goR {background-position: 128px;}
.goL {background-position: 0;}

.gopherBTN {
	width: 128px;
	height: 128px;
	background: url('./gopher.png');
	background-position: 0 0;
}
.gopherBTN:hover {
	background-position: 128px 0;
}
.gopherBTN:hover {
	background-position: 256px 0;
}