<!DOCTYPE html>
<html>
    <head>
        <title>User Login</title>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
    <body>
        <p>Login in to continue</p>
        <form action="home" method="POST">
            Username: <input name="user" type="text"/><br>
            Nickname: <input name="nick" type="text"/><br>
            <input type="submit" value="Login"/>
        </form>
        <form action="http://localhost:9000">
            <button type="submit" class="blueButton">Take me back</button>
        </form>
    </body>
</html>
</DOCTYPE>